decord==0.6.0
deepspeed==0.14.0
easydict==1.10
einops==0.4.1
imageio==2.33.0
numpy==1.23.5
onnx==1.16.1
onnxruntime-gpu==1.14.0
open-clip-torch==2.20.0
opencv-python==4.8.1.78
Pillow==9.5.0
tensorboard==2.14.0
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2